<%= link_to @resource, data: {"turbo-frame": "_top"} do %>
  <div class="w-[149px]">
    <div class="p-1.5 rounded-lg bg-gradient-to-r from-primary to-secondary mb-2">
      <div class="relative overflow-hidden h-[185px] rounded-lg">
        <img src="<%= @resource.image %>" alt="" />
        <div class="bg-primary px-2 py-1 text-xs font-bold absolute rounded inline-block bottom-2 right-2"><%= @resource.start_year %></div>
      </div>
    </div>
    <small><%= @resource.name %></small>
  </div>
<% end %>
