<% classes = @active ? "bg-secondary" : "hover:bg-secondary transition duration-300 ease-in-out" %>
<a href="<%= @href %>" class="flex items-center <%= classes %>">
  <div class="min-w-[4rem] h-16 w-16 flex justify-center items-center">
    <i class="text-xl fa-solid fa-<%= @icon %>"></i>
  </div>
  <% unless @mobile %>
    <div class="whitespace-nowrap font-bold"><%= @text %></div>
  <% end %>
</a>
