<%= link_to @resource_path, data: {"turbo-frame": "_top"} do %>
  <div class="group component-border relative rounded-xl border-2 border-black w-[100%] pb-[100%] h-[0] overflow-hidden">
    <img src="<%= @resource.image %>" alt="" class="w-full">
    <div class="z-10 absolute top-0 left-0 h-full w-full opacity-0 group-hover:opacity-100 bg-black/50 flex text-center items-center justify-center p-8 backdrop-blur-sm transition duration-300 ease-in-out">
      <b class="text-white"><%= @resource.name %><% if @year.present? %> (<%= @year %>)<% end %></b>
    </div>
    <div class="m-4 absolute left-0 top-0 flex flex-wrap gap-2">
      <% if @read %>
        <div class="text-xs sm:text-sm rounded-full border-2 border-black h-8 w-8 flex items-center justify-center bg-[#ff6961]/80 backdrop-blur-sm">
          <i class="fa-solid fa-check text-white"></i>
        </div>
      <% end %>
      <% if @collected %>
        <div class="text-xs sm:text-sm rounded-full border-2 border-black h-8 w-8 flex items-center justify-center bg-[#47bcea]/80 backdrop-blur-sm">
          <i class="fa-solid fa-book-open text-white"></i>
        </div>
      <% end %>
      <% if @wishlisted %>
        <div class="text-xs sm:text-sm rounded-full border-2 border-black h-8 w-8 flex items-center justify-center bg-[#fdbd7d]/80 backdrop-blur-sm">
          <i class="fa-solid fa-cake-candles text-white"></i>
        </div>
      <% end %>
      <% if @favourited %>
        <div class="text-xs sm:text-sm rounded-full border-2 border-black h-8 w-8 flex items-center justify-center bg-[#ff85a2]/80 backdrop-blur-sm">
          <i class="fa-solid fa-heart text-white"></i>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
