<%= link_to @resource_path, data: {"turbo-frame": "_top"} do %>
  <div class="relative p-1.5 rounded-sm bg-gray-200 hover:bg-gray-300 transition duration-300 ease-in-out">
    <div class="absolute flex m-1.5 left-0 bottom-0">
      <% if @read %>
        <div class="px-2 py-1.5 bg-[#ff6961]/80 backdrop-blur-sm">
          <i class="fa-solid fa-check text-white"></i>
        </div>
      <% end %>
      <% if @collected %>
        <div class="px-2 py-1.5 bg-[#47bcea]/80 backdrop-blur-sm">
          <i class="fa-solid fa-book-open text-white"></i>
        </div>
      <% end %>
      <% if @wishlisted %>
        <div class="px-2 py-1.5 bg-[#fdbd7d]/80 backdrop-blur-sm">
          <i class="fa-solid fa-cake-candles text-white"></i>
        </div>
      <% end %>
      <% if @favourited %>
        <div class="px-2 py-1.5 bg-[#ff85a2]/80 backdrop-blur-sm">
          <i class="fa-solid fa-heart text-white"></i>
        </div>
      <% end %>
    </div>
    <div class="w-[100%] pb-[100%] h-[0] overflow-hidden rounded-sm">
      <img src="<%= @resource.image %>" alt="" class="w-full" />
    </div>
  </div>
  <small class="font-bold"><%= @resource.name %></small>
<% end %>
