<%= render UserHeroComponent.new(user: @user, current_user:, possessive: "Favourites") %>

<%= render SectionComponent.new do %>
  <div class="my-6">
    <div class="grid grid-cols-2 lg:grid-cols-6 gap-4">
      <% @favourites.each do |favourite| %>
        <% resource = favourite.favouritable %>
        <% resource_path = resource.is_a?(Comic) ? comic_path(resource) : comic_issue_path(resource, comic_id: resource.comic) %>
        <%= render ResourceTileComponent.new(resource:, resource_path:) %>
      <% end %>
    </div>
  </div>
  <%= will_paginate @favourites, previous_label: "« Prev", next_label: "Next »", inner_window: 1, outer_window: 0 %>
<% end %>
