<div class="flex flex-col px-4 mb-8 gap-4 text-center items-center sm:sticky sm:top-[88px]">
  <div class="p-1.5 rounded-lg bg-gradient-to-r from-primary to-secondary w-[150px]">
    <img src="<%= comic.image %>" alt="" class="rounded-lg max-w-[195px] w-full height-auto" />
  </div>
  <a href="<%= comic_path(comic) %>">
    <h1 class="text-2xl font-bold"><%= comic.name %></h1>
  </a>
  <% if comic.aliases.present? %>
    <div class="flex flex-col">
      <p>AKA:</p>
      <% comic.aliases_to_array.each do |a| %>
        <small><%= a %></small>
      <% end %>
    </div>
  <% end %>
</div>
