<div class="my-6 grid grid-cols-3">
  <div class="col-span-2">
    <%= render ChipHeaderComponent.new(text: "Recently Updated Comics") %>
  </div>
  <div class="col-span-1">
    <%= render ChipHeaderComponent.new(text: "Newly Added Comics") %>
  </div>
</div>
