<div data-controller="read"
     data-read-status-value="<%= @is_read %>"
     data-read-baseurl-value="<%= @resource_path %>">

  <button data-read-target="button"
          data-action="click->read#trigger"
          class="group inline-block w-full py-1.5 px-[5%] border-t-2 border-black bg-gray-100 hover:bg-[#ff6961] cursor-pointer transition duration-300 ease-in-out">
    <i data-read-target="icon" class="fa-solid fa-check text-auto text-[#ff6961] group-hover:text-white transition duration-300 ease-in-out"></i>
  </button>

  <dialog data-read-target="dialog" data-controller="dialog" data-action="click->dialog#click" data-dialog-target="dialog" id="readDialog" class="open:flex open:p-0 open:bg-transparent open:flex-col open:gap-4 backdrop:backdrop-blur-sm">
    <div class="rounded-xl border-2 border-black bg-gray-100 p-4">
      <div class="m-4">
        <h5 class="text-xl font-bold">Mark as read</h1>
        <div class="my-4 flex flex-col gap-4">
          <input placeholder="Read at"
                data-read-target="readAtInput"
                class="form-control p-2 w-full rounded-md border-2 border-primary bg-gray-100 cursor-pointer focus:border-tangerine"
                required="required"
                type="datetime-local"
                autocomplete="off">
          <small data-read-target="error" class="font-bold text-red-500 hidden">Could not mark as read.</small>
          <button data-read-target="readAtSubmit" data-action="click->read#markAsRead" class="font-bold rounded-full border-2 border-black inline-block py-1.5 px-3 bg-primary-light cursor-pointer hover:bg-primary transition duration-300 ease-in-out">
            Submit
          </button>
          <a href="<%= dashboard_history_path(issue: @resource.id) %>" class="text-hint underline">View history</a>
        </div>
      </div>
    </div>
  </dialog>

</div>
