@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-[#212529];
  }

  .search-name-wrapper {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  select[multiple="multiple"] > option {
    padding: 10px;
  }

  select[multiple] > option:checked {
    background-color: rgb(255, 95, 109);
  }

  select[multiple] > option:focus {
    background-color: rgb(255, 95, 109);
  }

  /* width */
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffe3b7;
    border-radius: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 95, 109);
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 95, 109);
  }

  ::-moz-selection {
    color: rgb(255, 95, 109);
    background-color: rgba(255, 195, 113, 1);
  }

  ::selection {
    color: rgb(255, 95, 109);
    background-color: rgba(255, 195, 113, 1);
  }

  .resource-description > h1, .resource-description > h2, .resource-description > h3, .resource-description > h4, .resource-description > h5 {
    @apply text-xl font-bold
  }

  .resource-description > ul {
    @apply list-disc ml-8
  }

  :root {
    --swiper-theme-color: rgba(255, 195, 113, 1);
  }

  #slider-round {
    height: 10px;
  }

  #slider-round .noUi-connect {
      background: rgba(255, 195, 113, 1);
  }

  #slider-round .noUi-handle {
      height: 18px;
      width: 18px;
      top: -5px;
      right: -9px; /* half the width */
      border-radius: 9px;
  }

  #slider-round .noUi-handle-lower {
    right: 0;
  }

  #slider-round .noUi-handle-upper {
      right: -18px;
  }

  #slider-round > div > div:nth-child(2) > div > div.noUi-tooltip {
    left: 200% !important;
  }

  #slider-round > div > div:nth-child(3) > div > div.noUi-tooltip {
    left: -150% !important;
  }

  .component-border {
    box-shadow: 1px 1px 0 black, 2px 2px 0 black, 3px 3px 0 black, 4px 4px 0 black, 5px 5px 0 black, 6px 6px 0 black;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
