@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-[#212529];
  }

  .search-name-wrapper {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  select[multiple] > option {
    padding: 10px;
  }

  select[multiple] > option:checked {
    background-color: rgb(255, 95, 109);
    border-radius: 2rem;
  }

  select[multiple] > option:focus {
    background-color: rgb(255, 95, 109);
    border-radius: 2rem;
  }

  ::-moz-selection {
    color: rgb(255, 95, 109);
    background-color: rgba(255, 195, 113, 1);
  }

  ::selection {
    color: rgb(255, 95, 109);
    background-color: rgba(255, 195, 113, 1);
  }

  .resource-description > h1,
  .resource-description > h2,
  .resource-description > h3,
  .resource-description > h4,
  .resource-description > h5 {
    @apply text-xl font-bold;
  }

  .resource-description > ul {
    @apply list-disc ml-8;
  }

  :root {
    --swiper-theme-color: rgba(255, 195, 113, 1);
  }

  #slider-round {
    height: 10px;
  }

  #slider-round .noUi-connect {
    background: rgba(255, 195, 113, 1);
  }

  #slider-round .noUi-handle {
    height: 18px;
    width: 18px;
    top: -5px;
    right: -9px; /* half the width */
    border-radius: 9px;
  }

  #slider-round .noUi-handle-lower {
    right: 0;
  }

  #slider-round .noUi-handle-upper {
    right: -18px;
  }

  #slider-round > div > div:nth-child(2) > div > div.noUi-tooltip {
    left: 200% !important;
  }

  #slider-round > div > div:nth-child(3) > div > div.noUi-tooltip {
    left: -150% !important;
  }

  .component-border {
    box-shadow:
      1px 1px 0 black,
      2px 2px 0 black,
      3px 3px 0 black,
      4px 4px 0 black,
      5px 5px 0 black,
      6px 6px 0 black;
  }

  /* Webkit scrollbar styles */
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  ::-webkit-scrollbar-track {
    background: #ffe3b7;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(255, 95, 109);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 95, 109);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Non-webkit scrollbar styles */
  * {
    scrollbar-width: 7px;
    scrollbar-track-color: #ffe3b7;
    scrollbar-color: rgb(255, 95, 109) transparent;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* Pagination */
  .pagination {
    @apply flex flex-wrap gap-4 justify-center mt-8;
  }

  .previous_page,
  .next_page {
    @apply font-bold rounded-full border-2 border-black inline-block py-1.5 px-3 bg-primary-light transition duration-300 ease-in-out;
  }

  a.previous_page,
  a.next_page {
    @apply hover:bg-primary;
  }

  .pagination * {
    @apply min-w-10 min-h-10 flex justify-center items-center;
  }

  .pagination a {
    @apply font-bold rounded-full border-2 border-black py-1.5 px-3 bg-primary-light hover:bg-primary transition duration-300 ease-in-out;
  }

  .pagination span,
  .pagination em {
    @apply font-bold border-2 bg-gray-100 rounded-full border-black;
  }

  /* Comic page */
  .w-full-container,
  .w-full-header {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .w-full-header {
    margin-top: -1rem;
  }

  @media screen and (min-width: 790px) {
    .w-full-container,
    .w-full-header {
      margin-left: -3rem;
      margin-right: -3rem;
    }

    .w-full-header {
      margin-top: -3rem;
    }
  }
}
