<div>
  <%= @form.label @field, @placeholder, class: "font-bold text-lg after:content-[':']" %>
  <div class="component-border bg-gray-100 w-full flex rounded-4xl border-2 border-black mt-2">
    <%= @form.send(@type, @field, placeholder: @placeholder, autofocus: @autofocus, class: "rounded-4xl no-scrollbar w-full bg-transparent p-4 focus:outline-none", required: @required, **@extras) %>
  </div>
</div>
