<div class="w-full h-[500px] flex flex-col gap-4 justify-center items-center">
  <h1 class="text-2xl text-primary font-bold">Page not found</h1>
  <p><b>Time to summon Doctor Strange and ask him to check the mystical archives for our missing comic</b></p>
</div>
