<% if notice %>
  <div class="px-6 py-4 backdrop-blur rounded-xl border-[6px] flex gap-4 items-center animate-fadeIn border-[#e8c388] bg-opacity-50 bg-[#e8c388]">
    <i class="fa-solid fa-circle-info"></i>
    <p><%= notice %></p>
  </div>
<% end %>
<% if alert %>
  <div class="px-6 py-4 backdrop-blur rounded-xl border-[6px] flex gap-4 items-center animate-fadeIn border-primary bg-opacity-50 bg-primary">
    <i class="fa-solid fa-circle-info"></i>
    <p><%= alert %></p>
  </div>
<% end %>
