<div class="mt-4 p-6 rounded-md bg-secondary-light border-2 border-secondary">
  <i class="fa-solid fa-circle-info mr-4"></i>
  Kaboom is in active development. Some pages and features are still in progress and bugs are to be expected. If you want to help fix bugs and build features, check out our <a class="underline" href="https://github.com/kaboom-db/kaboom">GitHub repository</a>.
</div>

<% if notice %>
  <div class="mt-4 p-6 rounded-md bg-secondary-light border-2 border-secondary">
    <i class="fa-solid fa-circle-info mr-4"></i>
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="mt-4 p-6 rounded-md bg-primary-light border-2 border-primary">
    <i class="fa-solid fa-triangle-exclamation mr-4"></i>
    <%= alert %>
  </div>
<% end %>
