<% if notice %>
  <div class="mt-4 p-6 rounded-md bg-secondary-light border-2 border-secondary">
    <i class="fa-solid fa-circle-info mr-4"></i>
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="mt-4 p-6 rounded-md bg-primary-light border-2 border-primary">
    <i class="fa-solid fa-circle-info mr-4"></i>
    <%= alert %>
  </div>
<% end %>
